<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/header.css" type="text/css">
    <title>Juan's Website</title>
</head>
<body>
    <!--black bar at the top-->
    <div class="blackbar">
        <!--Logo-->
        <!--links-->
        <nav class="headlinks">
            <a href="//jvelaz.com"  class="navlink aboutlink">
                <img src="/images/logo.png" alt="JV" class="logo">
            </a>
            <a href="/about" class="navlink aboutlink">About Me</a>
            <a href="/projects" class="navlink projectslink">Projects</a>
            <a href="/contacts" class="navlink contactslink">Social Platforms</a>
        </nav>
    </div>
        <h1 class="title">Home Screen Under Construction</h1>
        <span>The FitnessGram™ Pacer Test is a multistage aerobic 
            capacity test that progressively gets more difficult as it continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start. The running speed starts slowly, but gets faster each minute after you hear this signal. [beep] A single lap should be completed each time you hear this sound. [ding] Remember to run in a straight line, and run as long as possible. The second time you fail to complete a lap before the sound, your test is over. The test will begin on the word start. On your mark, get ready, start.
        </span>
</body>
</html>