<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/header.css" type="text/css">
    <title>Juan's Website</title>
</head>
<body>
    <!--black bar at the top-->
    <div class="blackbar">
        <!--Logo-->
        <!--links-->
        <nav class="headlinks">
            <a href="https://www.jvelaz.com"  class="navlink aboutlink">
                <img src="/images/logo.png" alt="JV" class="logo">
            </a>
            <a href="/about" class="navlink aboutlink">About Me</a>
            <a href="/projects" class="navlink projectslink">Projects</a>
            <a href="/contacts" class="navlink contactslink">Social Platforms</a>
        </nav>
    </div>
    <div class="section2">
        <img src="/images/my_picture.png" alt="" class="my_picture">
        <span class="introduction">Hello.</span>
        <span class="introduction">My name is Juan Velazquez and I am a CS major at The
            University of Texas at Rio Grande Valley. I have been passionate for this field
            ever since taking an Intro to Computer Science course in High-school, inspiring me to
            continue growing my skills and having a better understanding of the engineering process.
        </span>
    </div>

    <div class="gallery">
        <img src="/images/gallery/" alt="" class="gallery_pic">
        <img src="/images/gallery/" alt="" class="gallery_pic">
        <!-- I will use something to go through every image in the folder and display them here -->
    </div>

    <div class="recent_projects">
        <h1 class="recent_projects_header">Recent Projects</h1>
        <nav class="scroll_through_projects">
            <button class="left_scroll_button"></button>
            
        </nav>
    </div>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
</body>
</html>