<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/dogAPIStyles.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/header.css" type="text/css">
<title>Juan's Website-The Dog</title>
<meta name="description" content="Project showcase and (occasional) blog posts from myself, Juan Velazquez.">
<meta name="author" content="Juan Velazquez">
<meta name="keywords" content="portfolio, CS, computer science, software engineering, Juan Velazquez, UTRGV CS Juan">