<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../templates/head.ejs')%>
</head>
<header>
    <%- include('../templates/header.ejs')%>
</header>
<body style="align-items: center;">
    <h1 class="title">A little bit about me...</h1>

    <div class="about_text">
        <div class="whyCS">
            <h1 class="about_text_title_whyCS title">
                Why did I choose Computer Science?
            </h1>
            <span class="about_text_whyCS" style="display: inline">
                It wasn't always going to be the path that I was going to stick with, rather I actually wanted to
                study Mechanical Engineering or Electrical Engineering, mainly out of my love of race cars, and wanting
                to work for Porsche or Mclaren. When I was in Highschool I took a class over Digital Electronics,
                and I absolutely loved it because I learned practical knowldge in building digital circuits and using
                Arduino to expand the capabilities of the hardware. The last part inspired (although not fully inspiring me 
                to study Computer Science) me to pursue programming. I got my start with some real world coding 
                in my Computer Science Principles course the year before taking that class; however, the class was
                taught in Java and I didn't like the syntax in the language-- the language felt like it was shoving 
                OOP (
                    <a href="https://en.wikipedia.org/wiki/Object-oriented_programming" target="_blank" class="link">Object Oriented Programming</a>
                ) down my throat and the IDE was really bloated, so I didn't like programming because of my experience
                in that class. My true calling came when in the summer of 2019 I watched YouTube series on remaking the
                popular video game 
                <a href="https://youtube.com/playlist?list=PLlrATfBNZ98foTJPJ_Ev03o2oq3-GGOS2" target="_blank" class="link">MineCraft in C++</a>
                , which made me think that I could do the same and make my own game.
                I wasn't as ambitious as the person in the video to recreate MineCraft, so I decided to recreate a simpler
                game... Snake. Moreover, I didn't just want to make a snake game using existing game engines, such as Unity
                and the Unreal Engine, instead, I wanted to make the game using OpenGL. I don't regret my decision, but I
                must say that learning the API was a real challenge, and was very stiff to set-up. I started my journey
                by following a tutorial to help familiarize myself with 
                <a href="https://youtube.com/playlist?list=PLMZ_9w2XRxiYzEuz4klbm8ZR7BfjueoN2" target="_blank" class="link">OpenGL</a>
                .
            </span>
        </div>
    </div>
</body>
<footer>
    <%- include('../templates/footer.ejs')%>
</footer>
</html>