<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/header.css" type="text/css">
    <title>
        Contacts
    </title>
</head>
    <body>
        <!--black bar at the top-->
        <div class="blackbar">
            <!--links-->
            <nav class="headlinks">
                <a href="//jvelaz.com"  class="navlink aboutlink">
                    <img src="/images/logo.png" alt="JV" class="logo">
                </a>
                <a href="/about" class="navlink aboutlink">About Me</a>
                <a href="/projects" class="navlink projectslink">Projects</a>
                <a href="/contacts" class="navlink contactslink">Social Platforms</a>
            </nav>
        </div>
        <h1 class="title">Contacts Page Under Construction</h1>
    </body>
</html>