<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../templates/head.ejs')%>
</head>
<header>
    <%- include('../templates/header.ejs')%>
</header>
<body>
    <h1 class="title">I'm flattered that you care so much, so here is how you can get a hold of me:</h1>
        <ul class="contacts">
            <li class="contact">E-mail: 
                <a href="mailto:juan.velazquez03@utrgv.edu?Subject=Hello Juan" class="contact_link">juan.velazquez03@utrgv.edu</a>
            </li>
            <li class="contact"> 
                <a href="https://github.com/RiceDaddy321" target="_blank" class="contact_link">GitHub</a>
            </li>
            <li class="contact"> 
                <a href="https://www.facebook.com/profile.php?id=100061225808619" target="_blank" class="contact_link">Facebook</a>
            </li>
            <li class="contact"> 
                <a href="www.linkedin.com/in/JC-velazquez" target="_blank" class="contact_link">LinkedIn</a>
                (Mind you that I don't use this as often as I should, so it's a bit dry right now :(.)
            </li>
            <li class="contact"> 
                <a href="https://github.com/RiceDaddy321" target="_blank" class="contact_link">GitHub</a>
            </li>
            <li class="contact"> 
                <a href="https://utrgv.joinhandshake.com/stu/users/31851884" target="_blank" class="contact_link">HandShake</a>
                (This is one is updated Ironically.)
            </li>
        </ul>
</body>
<footer>
    <%- include('../templates/footer.ejs')%>
</footer>
</html>