<div class="blackbar">
    <!--Logo-->
    <img src="/images/logo.png" alt="JV" class="logo">
    <!--links-->
    <nav class="headlinks">
        <a href="/about" class="navlink aboutlink">About Me</a>
        <a href="/projects" class="navlink projectslink">Projects</a>
        <a href="/contacts" class="navlink contactslink">Social Platforms</a>
    </nav>
</div>