<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../templates/head.ejs')%>
</head>
<header>
    <%- include('../templates/header.ejs')%>
</header>
<body>
    <h1 class="title">Projects Page Under Construction</h1>
    <a href="/projects/dogapi" class="projectslink doglink">
        The Dog API App
    </a>
</body>
<footer>
    <%- include('../templates/footer.ejs')%>
</footer>
</html>