<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../templates/dogHead.ejs')%>
</head>
<header>
    <%- include('../templates/header.ejs')%>
</header>
<body>
    <nav>
        <div class="header__container">
            <h1 class="greeting">Welcome!</h1>
            <h3 class="greeting__text">Unfortunately,
                <a href="https://thedogapi.com" target="_blank" class="link">The Dog Api</a>
                is down at the moment. please come back later, and see if it
                is back online.
            </h3>
            <h2 class="greeting">
                Sorry for the inconvenience and disapointment :(
            </h2>
            </div>

        </nav>
</body>
<footer>
    <%- include('../templates/footer.ejs')%>
</footer>
</html>